<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="c{data.uid}" class="image-container">
	<f:if condition="{gallery.position.noWrap} != 1">
		<f:render partial="Header/All" arguments="{_all}" />
	</f:if>
	<f:if condition="{gallery.position.vertical} != 'intext'"><f:then>
		<f:if condition="{gallery.position.vertical} == 'above'"><f:if condition="{gallery.count.files}">
			<div class="row">
				<div class="col-xs-12"><f:render partial="MediaGallery" arguments="{_all}" /></div>
			</div>
		</f:if></f:if>
		<div class="row">
			<div class="col-xs-12">
				<f:render section="bodytext" arguments="{_all}" />
			</div>
		</div>
		<f:if condition="{gallery.position.vertical} == 'below'"><f:if condition="{gallery.count.files}">
			<div class="row">
				<div class="col-xs-12"><f:render partial="MediaGallery" arguments="{_all}" /></div>
			</div>
		</f:if></f:if>
	</f:then><f:else>
		<div class="row">
			<f:if condition="{gallery.count.files}"><f:then>
				<f:if condition="{gallery.position.noWrap}"><f:then>
					<div class="col-xs-12 col-sm-6 col-md-3 {f:if(condition: '{gallery.position.horizontal} == \'right\'', then: 'col-sm-push-6 col-md-push-9')}">
						<f:render partial="MediaGallery" arguments="{_all}" />
					</div>
					<div class="col-xs-12 col-sm-6 col-md-9 {f:if(condition: '{gallery.position.horizontal} == \'right\'', then: 'col-sm-pull-6 col-md-pull-3')}">
						<f:render section="bodytext" arguments="{_all}" />
					</div>
				</f:then><f:else>
					<div class="col-xs-12">
						<div class="{f:if(condition: '{gallery.position.horizontal} == \'right\'', then: 'pull-right', else: 'pull-left')}">
							<f:render partial="MediaGallery" arguments="{_all}" />
						</div>
						<f:format.html>{data.bodytext}</f:format.html>
					</div>
				</f:else></f:if>
			</f:then><f:else>
				<div class="col-xs-12"><f:render section="bodytext" arguments="{_all}" /></div>
			</f:else></f:if>
		</div>
	</f:else></f:if>
	<f:render partial="Footer/All" arguments="{_all}" />
</div>

<f:section name="bodytext">
	<div class="ce-bodytext">
		<f:if condition="{gallery.position.noWrap}">
			<f:render partial="Header/All" arguments="{_all}" />
		</f:if>
		<f:format.html>{data.bodytext}</f:format.html>
	</div>
</f:section>
</html>
