<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers"
			xmlns:rx="http://typo3.org/ns/Reelworx/Sitesetup/ViewHelpers"
			data-namespace-typo3-fluid="true">
<f:if condition="{gallery.rows}">
	<f:for each="{gallery.rows}" as="row">
		<div class="row">
			<f:for each="{row.columns}" as="column">
				<f:if condition="{column.media}">
					<div class="{rx:galleryColumns(gallery: gallery)}">
						<f:if condition="{column.media.description}">
							<f:then>
								<figure>
									<f:render section="columnContent" arguments="{_all}" />
									<figcaption>
										{column.media.description}
									</figcaption>
								</figure>
							</f:then>
							<f:else>
								<div class="ce-media">
									<f:render section="columnContent" arguments="{_all}" />
								</div>
							</f:else>
						</f:if>
					</div>
				</f:if>
			</f:for>
		</div>
	</f:for>
</f:if>

<f:section name="columnContent">
	<f:switch expression="{column.media.type}">
		<f:case value="3">
			<f:render section="audioType" arguments="{_all}" />
		</f:case>
		<f:case value="4">
			<f:render section="videoType" arguments="{_all}" />
		</f:case>
		<f:case default="TRUE">
			<f:render section="imageType" arguments="{_all}" />
		</f:case>
	</f:switch>
</f:section>

<f:section name="imageType">
	<f:if condition="{column.media.link}">
		<f:then>
			<f:link.typolink parameter="{column.media.link}">
				<f:render section="imageTypeRendering" arguments="{column: column}" />
			</f:link.typolink>
		</f:then>
		<f:else>
			<f:if condition="{data.image_zoom}">
				<f:then>
					<ce:link.clickEnlarge image="{column.media}" configuration="{settings.media.popup}">
						<f:render section="imageTypeRendering" arguments="{column: column}" />
					</ce:link.clickEnlarge>
				</f:then>
				<f:else>
					<f:render section="imageTypeRendering" arguments="{column: column}" />
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:section>

<f:section name="audioType">
	<f:render section="media" arguments="{column: column, additionalClass: 'media-audio'}" />
</f:section>

<f:section name="videoType">
	<div class="embed-responsive embed-responsive-16by9">
		<f:render section="media" arguments="{column: column, additionalClass: 'embed-responsive-item'}" />
	</div>
</f:section>

<f:section name="imageTypeRendering">
	<img src="{f:uri.image(image:column.media, maxWidth:column.dimensions.width, maxHeight: column.dimensions.height)}" class="img-responsive" alt="{column.media.alternative}" title="{column.media.title}" />
</f:section>


<f:section name="media">
	<f:media file="{column.media}" alt="{column.media.alternative}" title="{column.media.title}" class="{additionalClass}" />
</f:section>
</html>
