<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	data-namespace-typo3-fluid="true"
>
<a href="#main" class="sr-only sr-only-focusable">
	<f:translate key="skipToContent" />
</a>
<header>
	<div class="jumbotron">
		<div class="container">
			<div class="jumbotron-logo">
				<f:link.page pageUid="{settings.rootPid}">
					<f:image src="EXT:sitesetup/Resources/Public/Images/logo.png" />
				</f:link.page>
			</div>
		</div>
	</div>
	<div class="navbar-separator"></div>
	<div class="navbar navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Navigation einblenden</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<f:cObject typoscriptObjectPath="lib.menu" table="pages" />
			</div>
		</div>
	</div>
</header>

<main id="main">
	<f:render section="content" />
</main>

<footer>
	<div class="container">
		<div class="row">

		</div>
		<div class="row">
			<div id="secondfooter" class="col-md-6">
				<f:comment><f:render partial="LanguageMenu" /></f:comment>
			</div>
			<div id="footermenu" class="col-md-6">
				<p>
					<f:cObject typoscriptObjectPath="lib.footerMenu" table="pages" />
					<span class="glyphicon glyphicon-copyright-mark"></span> Reelworx GmbH
				</p>
			</div>
		</div>
	</div>
	<f:render partial="Schemaorg" arguments="{_all}" />
</footer>
</html>
